* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  animation: bg-fade 30s infinite alternate;
  transform-origin: 50px 5px;
  transition: 1s ease-in-out 5s;
}
@keyframes bg-fade {
  from {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg.jpg');
  }
  32% {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg1.png');
  }
  48% {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg2.jpg');
  }
  64% {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg3.jpg');
  }
  80% {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg4.jpg');
  }
  to {
    background: center/cover no-repeat url('./Gurren-Imgs/gurren-bg5.jpg');
  }
}
